/* Nuestro equipo */
.teamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
}

.teamMember {
    text-align: center;
    width: 300px;
    margin: 20px auto;
}

.teamMember img {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.teamMember figcaption {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 5px;
}

.teamMember p {
    margin-top: 5px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .teamMember {
        width: 40%; 
    }
    .teamMember img {
        width: 90%;
        height: auto;
        border: none;
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .teamMember figcaption {
        margin-top: 10px;
        font-weight: bold;
        font-size: 15px;
        background-color: black;
        color: white;
        border-radius: 15px;
        margin: 5px;
    }
    .teamMember p {
        margin-top: 5px;
        font-size: 15px;
    }
}

.equipo {
    text-align: center;
}

/* Venta clásicos */
.clasicCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 65vh; */
    background-color: white;
    width: 100%;
    padding-top: 5px;
}

.clasicTit {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 30%;
}

.clasicSec {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 1023px) {
    .clasicCont {
        width: 100%; 
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }
}

@media only screen and (max-width: 767px) {
    .clasicCont {
        width: 100%; 
    }

    .slider-wrapper .image-list .image-item {
        width: 100%; 
        max-width: 280px; 
    }
}

.container {
    max-width: 1200px;
    width: 70%;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .image-list {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    grid-template-columns: repeat(20, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}
.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
   }
}

.ver-caption {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #3772FF;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.ver-caption:hover {color: #888;}




/* Event */
.eventCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 65vh; */
    background-color: white;
    width: 100%;
    padding-top: 5px;
}

.eventTit {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

.eventSec {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}


@media only screen and (max-width: 1023px) {
    .eventCont {
        width: 100%; 
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }
}

@media only screen and (max-width: 767px) {
    .eventCont {
        width: 100%; 
    }

    .slider-wrapper .image-list .image-item {
        width: 100%; 
        max-width: 280px; 
    }
}

.container {
    max-width: 1200px;
    width: 70%;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .image-list {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    grid-template-columns: repeat(30, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}
.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
   }
}

.ver-caption {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #3772FF;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.ver-caption:hover {color: #888;}
