.eventSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.eventTit {
    font-size: 50px;
    font-weight: 800;
    position: absolute;
    text-transform: uppercase;
    /* margin-top: 70px; */
    position: absolute;
    margin-top: -3%;
}
.modGM {
    padding-top: 0px;
}
.eventContainer {
    width: 30%;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 2%;
} 

.eventWrapper {
    width: 100%;
    display: flex;
    margin-right: 5px;
    animation: slide 15s infinite;
}

.eventImage {
    width: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translate(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }

}

/* @media only screen and (min-width: 1150) {
    
.eventContainer {
    width: 80%;
    height: auto;
    overflow: hidden;
    padding-top: 8%;
} 

.eventWrapper {
    width: 100%;
    display: flex;
    margin-right: 5px;
    animation: slide 15s infinite;
}

.eventImage {
    width: 100%;
}
} */
@media only screen and (max-width: 710px) {
    .eventSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 30%;
    }
    .modGM {
        padding-top: 0%;
    }
    .eventContainer {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-top: 15%;
    } 
    .eventWrapper {
        width: 100%;
        display: flex;
        margin-right: 5px;
        animation: slide 15s infinite;
    } *
    .eventImage {
        width: 100%;
        padding: 5px;
    }
}

@media only screen and (min-width: 711px) {
    .eventSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: -15%;
    }
    .modGM {
        padding-top: 0%;
    }
    .eventContainer {
        width: 80%;
        height: auto;
        overflow: hidden;
        padding-top: 10%;
    } 
    .eventWrapper {
        width: 100%;
        display: flex;
        margin-right: 5px;
        animation: slide 15s infinite;
    } *
    .eventImage {
        width: 100%;
        padding: 5px;
    }
    .eventTit {
        font-size: 50px;
        font-weight: 800;
        position: absolute;
        text-transform: uppercase;
        position: absolute;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 890px) {
    .eventSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: -15%;
    }
    .modGM {
        padding-top: 0%;
    }
    .eventContainer {
        width: 40%;
        height: auto;
        overflow: hidden;
        padding-top: 5%;
    } 
    .eventWrapper {
        width: 100%;
        display: flex;
        margin-right: 5px;
        animation: slide 15s infinite;
    } 
    .eventImage {
        width: 100%;
        padding: 5px;
    }
    .eventTit {
        font-size: 50px;
        font-weight: 800;
        position: absolute;
        text-transform: uppercase;
        position: absolute;
        margin-top: -5px;
    }
}


@media only screen and (min-width: 1500px) {
    .eventSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: -15%;
    }
    .modGM {
        padding-top: 0%;
    }
    .eventContainer {
        width: 30%;
        height: auto;
        overflow: hidden;
    } 
    .eventWrapper {
        width: 100%;
        display: flex;
        margin-right: 5px;
        animation: slide 15s infinite;
    } *
    .eventImage {
        width: 100%;
        padding: 5px;
    }
    .eventTit {
        font-size: 50px;
        font-weight: 800;
        position: absolute;
        text-transform: uppercase;
        position: absolute;
        margin-top: -80px;
    }
} 